/* Common styles for both big and small screens */
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  background-color: #ffcc00; /* Apply background color to the .navbar */
}

.navbar-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-link {
  background-color: #00a2ff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center; /* Align items horizontally */
  justify-content: center; /* Center content horizontally */
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 5px; /* margin between buttons */
}

.nav-link:hover {
  background-color: #ff5e7d;
  box-shadow: 0 0 5px #00a2ff;
}

.nav-link.active {
  background-color: #ff5e7d;
  box-shadow: 0 0 5px #00a2ff;
}

/* adjust the spacing between icons and text */
.nav-link svg {
  margin-right: 5px;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

/* Media query for small screens */
@media (max-width: 1188px) {
  .navbar-text {
    display: none; /* Hide the words on small screens */
    align-items: center;
  }

  .nav-link {
    margin: 5px; 
  }

  .logo {
    width: 150px; 
  }
}

/* Media query for big screens */
@media (min-width: 1188px) {
  /* width of the logo for big screens */
  .logo {
    width: 300px; 
  }
}
