.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.nav {
  background-color: #ffcc00;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the logo */
}

.logo-container {
  margin-right: auto;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-link {
  background-color: #ff6600;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #ff0404;
}

.nav-link.active {
  background-color: #ff0404;
}


.nav-link a {
  color: #fff;
  text-decoration: none;
  font-size: 18px; 
  font-weight: bold;
}

.login-button {
  background-color: #ff6600;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ff0404;
}