.main-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  width: 100%;
  position: relative;
}

.left-container,
.right-container {
  flex: 1;
  background-color: #fff4d6;
  border-radius: 8px;
  padding: 20px;
}

.left-container {
  flex: 1;
  background-color: #fff4d6;
  border-radius: 8px;
  padding: 20px;
  margin-right: 10px; 
}

.right-container {
  flex: 1;
  background-color: #fff4d6;
  border-radius: 8px;
  padding: 20px;
  margin-left: 10px; 
}


.form-container {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 45%;
  margin-bottom: 20px;
}

ul {
  margin-top: 20px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }
}

h1 {
  text-align: center;
  padding-bottom: 15px;
  color: #ff5e7d;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  width: 100%;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 40px); 
  height: 4px;
  background: linear-gradient(to right, #ff5e7d, #ffcb00, #32de7b, #00a2ff);
}




h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
  background: linear-gradient(to right, #ff5e7d, #ffcb00, #32de7b, #00a2ff);
  padding: 10px 20px;
  border-radius: 4px;
  color: #333333;
  
}

button {
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #ff5e7d;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #ffcb00;
  color: #ffffff;
}

label {
  margin-bottom: 10px;
}

input[type="number"],
input[type="text"] {
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

input[type="number"]:focus {
  outline: none;
  border-color: #ff5e7d;
  box-shadow: 0 0 0 2px rgba(255, 94, 125, 0.5);
}

p {
  text-align: center;
  font-size: 18px;
  color: #333333;
  margin-bottom: 20px;
}

.save-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff4d6;
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px;
}

.save-button {
  margin-bottom: 10px; /* Add margin to separate the button and text */
}

.save-note {
  font-size: 14px;
  color: #777777;
  text-align: center;
}




